# vscodeの設定
.vscode

# mysqlのローカル
# docker配下
docker/mysql1/data
docker/mysql2/data
docker/nginx
docker/fast-api/app/line-messages

# .env
first-class/.env
mikado-system/.env

# service-account.json
mikado-system/config/service-account.json
